.popular_property{
    padding: 80px 0;
    &.plus_padding{
        padding-top: 186px;
        @media #{$mobile_device} {
            padding-top: 50px;
        }
    }
    @media #{$mobile_device} {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .more_property_btn{
        margin-top: 30px;
    }
    .single_property{
        overflow: hidden;
        margin-bottom: 30px;
        @include box-shadow(0 5px 15px rgba(0, 0, 0, .05));
       .property_thumb{
           position: relative;
           overflow: hidden;
           img{
               width: 100%;
               @include transform(scale(1));
               @include transition(.3s);

           }
           .property_tag{
            position: absolute;
            top: 25px;
            left: 25px;
            background: #FDAE5C;
            padding: 8px 14px;
            color: #fff;
            border-radius: 30px;
            font-size: 13px;
            font-weight: 500;
            z-index: 1;
            &.red{
                background: #FF5748 !important;
            }
           }
       } 
       .property_content{
        padding: 25px;
        background: #f5f5f5;
           .main_pro{
               h3{
                   font-size: 16px;
                   font-weight: 700;
                   font-weight: bold;
                   margin-bottom: 0;
                   margin-bottom: 8px;
                   a{
                    color: #001D38;
                    &:hover{
                        color: #bf9410;
                    }
                   }
               }
           }
           .mark_pro{
               img{

               }
               span{
                font-size: 13px;
                font-weight: 400;
                color: #919191;
               }
           }
           .amount{
            display: inline-block;
            background: #00D363;
            border-radius: 30px;
            padding: 7px 18px;
            color: #fff;
            font-weight: 500;
            font-size: 13px;
            margin-top: 13px;
        }

       }
       .footer_pro{
        padding: 12px 25px;
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            li{
                .single_info_doc{
                    img{

                    }
                    span{
                        color: #001D38;
                        font-size: 13px;
                        font-weight: 400;
                        margin-left: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &:hover{
        .property_thumb{
            img{
                @include transform(scale(1.06));
            }
        }
    }
    }
}


/************passion css start***************/
.apartment_part{
    padding-top: 130px;
    @media #{$small_mobile}{
        padding-top: 70px;
    }
    @media #{$large_mobile}{
        padding-top: 70px;
    }
    @media #{$tab_device}{
        padding-top: 70px;
    }
    @media #{$medium_device}{
    
    }
    .section_tittle{
        h1{
            color: $heading_color;
            font-size: 40px;
            line-height: 1.25;
            font-weight: 700;
            margin-bottom: 80px;
            position: relative;
        }
        &:after {
            position: absolute;
            left: 15px;
            height: 2px;
            width: 90px;
            content: "";
            background-color: $primary-color;
            bottom: 50px;
        }
    }
    .view_more_btn{
        .btn_2{
            color: $font_3;
            margin-top: 15px;
            &:after{
                background-color: $btn_bg_1;
            }         
        }
    }
    .appartment_img{
        position: relative;
        &:after{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $heading_color;
            opacity: 0;
            border-radius: 5px;
            @include transform_time(0.5s);
            transform: scale(0.5)
        }
        .single_appartment_text{
            position: absolute;
            bottom: 40px;
            left: 15px;
            @include transform_time(0.5s);
            z-index: 9;
            visibility: hidden;
            opacity: 0;
            h3{
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 15px;
                color: $white_color;
            }
            p{
                font-size: 13px;
                color: $white_color;
            }

        }
        img{
            width: 100%;
        }
    }
    .single_appartment_content{
        position: relative;
        padding: 20px;
        border-top: 0px solid transparent !important;
        border: 1px solid $border_color;
        @include transform_time(0.5s);
        p{
            font-size: 12px;
            color: $btn_bg;
            font-weight: 400;
            padding-bottom: 15px;
            text-transform: uppercase;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 20px;
            border-bottom: 1px solid $border_color;
        }
        .love_us {
            color: #abaeb1;
            .ti-heart{
                @include transform_time(0.5s);
                border-radius: 3px;
                background-color: #fff;
                box-shadow: 0px 10px 25.5px 4.5px rgba(20,48,58,0.1);
                width: 44px;
                height: 44px;
                display: inline-block;
                text-align: center;
                line-height: 44px;
                position: absolute;
                right: 20px;
                top: -25px;
                color: #abaeb1;
            }
        }
        
        .list-unstyled{
            margin-top: 15px;
            li{
                display: inline-block;
                margin-right: 22px;
                font-size: 16px;
                font-weight: 400;
                color: #797979;
                @media #{$medium_device}{
                    margin-right: 14px;
                }
                &:hover{
                    color: $btn_bg;
                    span{
                        color: $btn_bg;
                    }
                }
                a{
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                    color: #797979;
                }
                @media #{$small_mobile}{
                    margin-right: 14px;
                }
                @media #{$large_mobile}{
                    margin-right: 14px;
                }
                @media #{$tab_device}{
                    margin-right: 14px;
                }
            }
            
        }
    }
    .single_appartment_part:hover {
        @include transform_time(0.5s);
        .appartment_img:after{
            opacity: 0.3;
            transform: scale(1)
        }
        .single_appartment_text{
            visibility: visible;
            opacity: 1;
            bottom: 21px;
        }  
        .single_appartment_content{
            box-shadow: 0px 10px 25.5px 4.5px rgba(20, 48, 58, 0.1);
            background-color: rgb(255, 255, 255);
        }   
        .love_us {
            .ti-heart{
                border-radius: 3px;
                background-color: $btn_bg;
                box-shadow: 0px 0px 0px 0px rgba(20, 48, 58, 0.1);
                color: $white_color;
            }
        } 
    }
    @media #{$small_mobile}{
        .single_appartment_part{
            margin-bottom: 25px;
        }
    }
    @media #{$large_mobile}{
        .single_appartment_part{
            margin-bottom: 25px;
        }
    }
    @media #{$tab_device}{
        .view_more_btn{
            a:hover{
                color: $btn_bg;
            }
        }
    }
    .view_more_btn{
        margin-top: 18px;
        a:hover{
            color: $btn_bg;
        }
    }
}